<html>
<head><title> VADIBHAI_FAMILY</title>
<style>
.nd{
position:absolute;
left:30%;
}
</style>
</head>

<body background="pics/bg.jpg">
<center><font size=8 color=teal><b><u>APEKSHABEN</u></b></font><font size=8><b>--</b></font><font size=8 color=teal><b><u>KAMLESHBHAI</u></b></font></center>
<div class='nd'>
<ol>
<font size=8><li><a href="yash.html"><font size=8 color=teal>YASH</font></a></li></font>
<font size=8><li><a href><font size=8 color=teal>DHARM</font></a></li></font>
</ol>
</div>
</body>
</html>