<html>
<head><title> VADIBHAI_FAMILY</title>
<style>
.nd{
position:absolute;
left:30%;
}
</style>
</head>

<body background="pics/bg.jpg">
<center><font size=8 color=teal><b><u>BHARTIBEN</u></b></font><font size=8><b>--</b></font><font size=8 color=teal><b><u>ARVINDBHAI</u></b></font></center>
<div class='nd'>
<ol>
<font size=8><li><a href="chirag.html"><font size=8 color=teal>CHIRAG</font></a></li></font>
<font size=8><li><a href><font size=8 color=teal>DIKSHA</font></a></li></font>
</ol>
</div>
</body>
</html>