<html>
<head>
<title> VADIBHAI_FAMILY</title>
<style>
.nd{
position:absolute;
left:30%;
}
button{
background-color:black;
}
</style>
</head>

<body background='pics/bg.jpg'>

<div class='nd'>
<ol>
<font size=6  color="red"><li><a href ="vimdaben.html"><button><font size=6 color=red>VIMDABEN</font></button></a></li></font><br>
<font size=6 color="red"><li><a href ="niruben.html"><button><font size=6 color=red>NIRUBEN</font></button></a></li></font><br>
<font size=6 color="red"><li><a href ="hansaben.html"><button><font size=6 color=red>HANSABEN</font></button></a></li></font><br>
<font size=6 color="red"><li><a href="bhartiben.html"><button><font size=6 color=red>BHARTIBEN</font></button></a></li></font><br>
<font size=6 color="red"><li><a href="kailashben.html"><button><font size=6 color=red>KAILASHBEN</font></button></a></li></font><br>
<font size=6 color="red"><li><a href="dharmishthaben.html"><button><font size=6 color=red>DHARMISHTHABEN</font></button></a></li></font><br>
<font size=6 color="red"><li><a href="apekshaben.html"><button> <font size=6 color=red>APEKSHABEN</font></button></li></font><br>
<font size=6 color="red"><li><a href ="jinuben.html"><button><font size=6 color=red>JINUBEN</font></button></a></li></font><br>
<font size=6 color="red"><li><a href ="gaytriben.html"><button><font size=6 color=red>GAYTRIBEN</font></button></a></li></font><br>
</ol>
</div>
</body>
</html>

