<html>
<head>
<title> VADIBHAI_FAMILY</title>
<style>
.nd{
position:absolute;
left:30%;
}
</style>
</head>

<body background='pics/bg.jpg'>

<div class='nd'>
<ol>
<font size=8 ><li><a href ="vimdaben.html"><font size=8 color=teal>VIMDABEN</font></a></li></font>
<font size=8 ><li><a href ="niruben.html"><font size=8 color=teal>NIRUBEN</font></a></li></font>
<font size=8 ><li><a href ="hansaben.html"><font size=8 color=teal>HANSABEN</font></a></li></font>
<font size=8 ><li><a href="bhartiben.html"><font size=8 color=teal>BHARTIBEN</font></a></li></font>
<font size=8 ><li><a href="kailashben.html"><font size=8 color=teal>KAILASHBEN</font></a></li></font>
<font size=8 ><li><a href="dharmishthaben.html"><font size=8 color=teal>DHARMISHTHABEN</font></a></li></font>
<font size=8 ><li><a href="apekshaben.html"> <font size=8 color=teal>APEKSHABEN</font></li></font>
<font size=8 ><li><a href ="jinuben.html"><font size=8 color=teal>JINUBEN</font></a></li></font>
<font size=8 ><li><a href ="gaytriben.html"><font size=8 color=teal>GAYTRIBEN</font></a></li></font>
</ol>
</div>
</body>
</html>

