<html>
<head><title> VADIBHAI_FAMILY</title>
<style>

.dn{
position: absolute;
 top: 20%;
  left: 50%;
}

</style>
</head>

<body background="pics/bg.jpg">
<center><font size=8 color=teal><b><u>HANSABEN</u></b></font><font size=8><b>--</b></font><font size=8 color=teal><b><u>VINODBHAI</u></b></font></p></PRE></center>

<img src="pics/3.png" >
<div class="dn">
<ul>
<font size=8><li><a href="hansaben_children.html"><font size=8>CHILDREN</font></a></li></font>
<font size=8><li><a href="hansaben_contact.html"><font size=8>CONTACT</font></a></li></font>
</ul>
</div>
</body>
</html>