<html>
<head><title> VADIBHAI_FAMILY</title>
<style>
.nd{
position:absolute;
left:30%;
}
button{
background-color:black;
}
</style>
</head>

<body background="pics/bg.jpg">
<center><font size=100 color=teal><b><u>HANSABEN</u></b></font><font size=8><b>--</b></font><font size=8 color=teal><b><u>VINODBHAI</u></b></font></center><br><br>
<div class='nd'>
<ol>
<font size=8><li><a href="jignesh.html"><button><font size=8 color=red>JIGNESH</font></button></a></li></font><br><br>
<font size=8><li><a href="nirav.html"><button><font size=8 color=red>NIRAV</font></button></a></li></font>
</ol>
<div>
</body>
</html>