<html>
<head><title> VADIBHAI_FAMILY</title>
<style>

.dn{
position: absolute;
 top: 20%;
  left: 55%;
}

</style>
</head>

<body background="pics/bg.jpg">
<center><font size=8 color=teal><b><u>JINUBEN</u></b></font><font size=8><b>--</b></font><font size=8 color=teal><b><u>HARSHADBHAI</u></b></font></center>

<img src="pics/8.png">
<div class="dn">
<ul>
<font size=8><li><a href="jinuben_children.html"><font size=8>CHILDREN</font></a></li></font>
<font size=8><li><a href="jinuben_contact.html"><font size=8>CONTACT</font></a></li></font>
</ul>
</div>
</body>
</html>