<html>
<head><title> VADIBHAI_FAMILY</title>
<style>
.nd{
position:absolute;
left:30%;
}
</style>
</head>

<body background="pics/bg.jpg">
<center><font size=8 color=teal><b><u>NIRUBEN</u></b></font><font size=8><b>--</b></font><font size=8 color=teal><b><u>KANUBHAI</u></b></font></center>
<div class='nd'>
<ol>
<font size=8><li><a href="chetan.html"><font size=8 color=teal>CHETAN</font></a></li></font>
<font size=8><li><a href="hiren.html"><font size=8 color=teal>HIREN</font></a></li></font>
</ol>
</div>
</body>
</html>