<html>
<head>
<title> VADIBHAI_FAMILY</title>
<style>

.dn{
position: absolute;
 top: 20%;
  left: 50%;
}

</style>
</head>

<body background="pics/bg.jpg">
<center><font size=8 color=teal><b><u>VIMDABEN</u></b></font><font size=8><b>--</b></font><font size=8 color=teal><b><u>HASMUKHBHAI</u></b></font></center><br><br>



<div >
<img src="pics/1.png" >
</div>



<div class="dn">
<ul>
<font size=8><li><a href="vimdaben_children.html"><font size=8>CHILDREN</font></a></li></font>
<font size=8><li><a href="vimdaben_contact.html"><font size=8>CONTACT</font></a></li></font>
</ul>
</div>



</body>
</html>